.container {
    position: relative;
    text-align: left;
    color: bk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

a:hover{
    color: red;
    text-decoration: none;
}

a{
    color: black;
}
    body
      {
        background-position: absolute ;
        background-repeat: no-repeat;
        background-size: 1369px;
       
      }

      /*.background {
        height: 960px;
        width: 6000px;
        1369px;
      }*/
      
   

   /* Centered text */
/*.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

}*/

