/* .container {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


a:hover{
    color: red;
    text-decoration: none;
}

a{
    color: black;
}
    body
      {
        
        background-size: 1369px;
      }

       */
       @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
       :root {
           --custom-color: rgb(41, 5, 5);
           --padding: 20px;
           --medium-font-size: 1.2em;
           --big-font-size: 2.5em;
           --input-padding:5px 3px;
           --border-radius:10px;
           --margin-top:5px;
           --margin-bottom: 5px;
           --border:1px solid rgb(9, 132, 170);
       }
       
       *{
           margin: 0%;
           padding: 0%;
           box-sizing: border-box;
       }
       
       body {
           font-size: 16px;
           font-family: 'Montserrat', sans-serif;
       }
       .container {
           width: 1200px; 
           max-width:  100%; 
           min-height: 400px;
           margin: 0 auto;
           text-align: left;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           
       }
       
       .form {
           width: 300px;
           margin: 30px auto;
          }
       
       .forlabel {
           display: flex;
           flex-direction: column;
           width: 100%;
           margin-top: var(--margin-top);
           margin-bottom: var(--margin-bottom);
           
       }
       
       .fordiv {
           color: var(--custom-color);
           font-size: var(--medium-font-size);
       }
       
       input{
           padding: var(--input-padding);
           border-radius: var(--border-radius);
           border: var(--border);
           
       }
       
       input::placeholder{
           font-size: medium;
       }
       
       select{
           padding: var(--input-padding);
           border-radius: var(--border-radius);
           border: var(--border);
       }
       
       .btm-submit{
           font-size: medium;
       }

       body
      {
        
        background-size: 1369px;
      }

      a:hover{
        color: red;
        text-size-adjust: bold;
        text-decoration: none;}

      input::placeholder{
        font-size: small;
      }